* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.custom-wrapper {
    margin-top: 43px;
    width: 100%;
    height: 40px;
    padding: 10px 16px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.custom-arrow {
    width: 32px; /* w-6 */
    height: 32px; /* h-6 */
    position: relative;
    transform-origin: top left;
    overflow: hidden;
}

.custom-title-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
}

.custom-title {
    justify-content: flex-start;
    color: #171717; /* text-neutral-900 */
    font-size: 14px; /* text-sm */
    font-weight: 600; /* font-semibold */
    font-family: "Inter", sans-serif;
    line-height: 1.25; /* leading-tight */
}
.menu-button {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 61px;
    padding: 2px 6px;
    align-items: center;
    gap: 2px;
    border-radius: 999px;
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(4px);
}

.menu-icon {
    height: 20px;
}

.line-button {
    color: #ffffff70;
    font-size: 13px;
}

.remove-icon {
    height: 20px;
}

.voucher-card {
    max-width: 450px;
    margin: 50px 16px 0 16px;
    top: 130px;
    padding: 16px;
    background-color: white;
    border-radius: 16px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px; /* gap-3 = 0.75rem = 12px */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.header-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px; /* gap-2 = 0.5rem = 8px */
}

.brand-info {
    width: 288px; /* w-72 = 18rem = 288px */
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px; /* gap-1 = 0.25rem = 4px */
}

.brand-icon {
    width: 16px; /* w-4 = 1rem = 16px */
    height: 16px; /* h-4 = 1rem = 16px */
    position: relative;
    overflow: hidden;
}

.brand-icon img {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0;
}

.brand-name {
    overflow: hidden;
    color: #a3a3a3;
    text-overflow: ellipsis;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.165px;
}

.voucher-content {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px; /* gap-2.5 = 0.625rem = 10px */
}

.voucher-text {
    flex: 1;
    text-align: left;
}

.voucher-text .main-text {
    color: #121212;
    font-size: 14px;
    font-weight: 600; /* font-semibold */
    line-height: 1.25;
}

.voucher-text .brand-tag {
    color: #121212;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
}

.price-section {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px; /* gap-3 = 0.75rem = 12px */
}

.price-container {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
}

.price-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px; /* gap-1 = 0.25rem = 4px */
}

.price-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px; /* gap-0.5 = 0.125rem = 2px */
}

.price-text {
    color: #db3d42; /* Text-primary */
    font-size: 12px; /* text-xs */
    font-weight: 600; /* font-semibold */
    line-height: 1; /* leading-none */
}

.divider {
    position: relative;
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px; /* gap-2.5 */
}

.custom-divider {
    border-top: 1px dashed #ccc; /* màu xám nhạt */
    width: 100%; /* self-stretch */
    height: 0; /* h-0 */
}

.country-section {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px; /* gap-2 = 0.5rem = 8px */
}

.country-text {
    flex: 1;
    text-align: left;
}

.country-text .label {
    color: #525252; /* text-neutral-600 */
    font-size: 12px; /* text-xs */
    font-weight: 400; /* font-normal */
    line-height: 1; /* leading-none */
}

.country-text .count {
    color: #db3d42; /* Text-primary */
    font-size: 12px;
    font-weight: 500; /* font-medium */
    line-height: 1;
}

.country-flags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flag-circle {
    width: 28px;
    height: 28px;
    position: relative;
    margin-left: -10px; /* overlapping effect */
}

.flag-inner {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-countries {
    width: 28px;
    height: 28px;
    position: relative;
    background-color: #f5f5f5; /* bg-tertiary */
    border-radius: 50%;
    border: 0.5px solid #e9eaeb; /* border-secondary */
    overflow: hidden;
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-countries-text {
    color: #535862;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 140% */
    letter-spacing: 0px;
}

.add-to-cart-btn {
    width: 100%;
    height: 40px;
    padding: 14px 12px;
    background-color: #db3d42;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-text {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.07px;
}

.round {
    position: absolute;
    background-color: #f2f2f2;
    left: -28px;
    top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.round1 {
    position: absolute;
    background-color: #f2f2f2;
    right: -28px;
    top: -12px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}

.voucher-container {
    margin: 190px 16px 0px 16px;
    max-width: 450px;
    padding-top: 16px;
    background-color: #ffffff;
    border-radius: 16px;
}

.tab-container {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.tab {
    width: 112px; /* w-28 = 7rem = 112px */
    padding: 8px 10px; /* px-2.5 py-2 = 0.625rem 0.5rem = 10px 8px */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* gap-2.5 = 0.625rem = 10px */
}

.tab-inactive {
    border-bottom: 1px solid rgba(23, 23, 23, 0.1); /* border-neutral-900/10 */
}

.tab-active {
    border-bottom: 1px solid #ef4444; /* border-red-500 */
}

.tab-text {
    justify-content: flex-start;
    font-size: 12px; /* text-xs = 0.75rem = 12px */
    font-weight: 500; /* font-medium */
    font-family: "Inter", sans-serif;
    line-height: 1; /* leading-none */
}

.tab-text-inactive {
    color: #141414;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.065px;
}

.tab-text-active {
    color: #db3d42;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    letter-spacing: -0.065px;
}

.content-container {
    margin-bottom: 100px;
    align-self: stretch;
    height: 320px; /* h-80 = 20rem = 320px */
    padding: 20px 20px 16px 20px; /* px-5 pt-5 pb-4 = 1.25rem 1.25rem 1rem 1.25rem */
    background-color: #ffffff;
    border-radius: 16px; /* rounded-2xl */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px; /* gap-6 = 1.5rem = 24px */
}

.header-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px; /* gap-1.5 = 0.375rem = 6px */
}

.header-title {
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}

.header-subtitle {
    color: var(--Content-Strong, #121212);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    letter-spacing: 0px;
}

.steps-container {
    align-self: stretch;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 16px; /* gap-4 = 1rem = 16px */
}

.vertical-line {
    width: 1px; /* w-px */
    height: 30px; /* h-32 = 8rem = 128px */
    position: absolute;
    color: #c7c7c7;
    left: 16px;
    top: 43px;
    transform: rotate(0deg);
    transform-origin: top left;
    border: 0.6px solid #d6d3d1; /* outline-stone-300 */
}
.vertical-line1 {
    width: 0.5px; /* w-px */
    height: 28px; /* h-32 = 8rem = 128px */
    position: absolute;
    color: #c7c7c7;
    left: 16px;
    top: 105px;
    transform: rotate(0deg);
    transform-origin: top left;
    border: 0.6px solid #d6d3d1; /* outline-stone-300 */
}

.step {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px; /* gap-4 = 1rem = 16px */
}

.step-text {
    width: 240px;
    color: #121212;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 138.462% */
    letter-spacing: 0px;
}

.step-text-bold {
    font-weight: 600; /* font-semibold */
}

.step-text-normal {
    font-weight: 400; /* font-normal */
}

.payment-container {
    position: fixed;
    height: 60px;
    bottom: 0px;
    width: 100%;
    max-width: 450px;
    display: inline-flex;
    background-color: white;
    justify-content: space-between;
    height: 60px;
    align-self: stretch;
    padding: 12px 16px 8px 16px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.icon-container {
    width: 2.25rem; /* w-9 */
    height: 2.25rem; /* h-9 */
    position: relative;
    background-color: #fff0f0; /* bg-Background-Primary-flat */
    border-radius: 0.5rem; /* rounded-lg */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem; /* gap-3 */
}

.shopping-icon {
    width: 1.5rem; /* w-6 */
    height: 1.5rem; /* h-6 */
    position: relative;
    overflow: hidden;
}

.shopping-icon img {
    width: 100%;
    height: 100%;
}

.notification-badge {
    width: 1rem; /* w-4 */
    height: 1rem; /* h-4 */
    left: 1.625rem; /* left-[26px] */
    top: -0.375rem; /* top-[-6px] */
    position: absolute;
    background-color: #ef4444; /* bg-red-500 */
    border-radius: 999px; /* rounded-[999px] */
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* gap-2.5 */
}

.badge-text {
    align-self: stretch;
    text-align: center;
    color: white;
    font-size: 0.625rem; /* text-[10px] */
    font-weight: 500; /* font-medium */
    line-height: 1; /* leading-none */
}

.right-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    gap: 0.5rem; /* gap-2 */
}

.purchase-info {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.25rem; /* gap-1 */
}

.purchase-label {
    text-align: right;
    color: #58585a;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1;
}

.amount-container {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.125rem; /* gap-0.5 */
}

.amount-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.125rem; /* gap-0.5 */
}

.amount-text {
    color: #db3d42; /* text-Text-primary */
    font-size: 14px; /* text-sm */
    font-weight: 600; /* font-semibold */
    font-family: "Inter", sans-serif;
    line-height: 1.25; /* leading-tight */
}

.currency-icon {
    width: 1rem; /* w-4 */
    height: 1rem; /* h-4 */
}

.payment-button {
    padding: 10px;
    background-color: #db3d42;
    border-radius: 0.375rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem; /* gap-2 */
    border: none;
    cursor: pointer;
}

.button-content {
    align-self: stretch;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem; /* gap-1 */
}

.button-text {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

/* Model */

.modal-overlay {
    width: 100%;
    max-width: 450px;
    min-height: 1000px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    padding-bottom: 20px;
}

.cart-modal {
    width: 100%;
    max-width: 450px;
    height: 830px;
    background-color: white;
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 350px;
}

.cart-modal-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cart-header {
    width: 100%;
    padding: 8px 10px 16px 16px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-header-left {
    width: 32px;
    height: 32px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-title-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.cart-title {
    color: #171717;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.cart-close {
    width: 32px;
    height: 32px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close-icon {
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.close-x {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 6px;
    background-color: #525252;
}

/* Cart Items */
.cart-item-wrapper {
    overflow: hidden;
    position: relative;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.cart-item-scrollable {
    display: flex;
    width: calc(100% + 80px);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cart-item-scrollable::-webkit-scrollbar {
    display: none;
}
.cart-item-content {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    padding: 12px 16px;
    background-color: white;
    border-bottom: 0.8px solid #f4f4f5;
    gap: 8px;
    scroll-snap-align: start;
}

.item-remove {
    width: 80px;
    padding: 10px 28px;
    flex-shrink: 0;
    height: 110px;
    background-color: #f04438;
    justify-content: center;
    align-items: center;
    display: flex;
    scroll-snap-align: end;
}

.cart-item.scrolled-left .item-image {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-item-swipe {
    position: absolute;
    left: -80px;
    top: 0;
    display: flex;
}

.cart-item-content {
    width: 100%;
    padding: 12px 16px;
    background-color: white;
    border-bottom: 0.8px solid #f4f4f5;
    display: flex;
    gap: 8px;
}

.item-image {
    width: 64px;
    height: 56px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.item-img {
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.item-remove {
    width: 80px;
    height: 110px;
    background-color: #f04438;
    justify-content: center;
    align-items: center;
    display: flex;
}

.item-remove span {
    color: #fff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item-brand-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item-brand-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-brand-row {
    display: flex;
    align-items: center;
    gap: 4px;
}

.item-brand-icon {
    width: 16px;
    height: 16px;
    overflow: hidden;
}

.item-brand-name {
    flex: 1;
    overflow: hidden;
    color: #939395;
    text-overflow: ellipsis;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0px;
}

.item-quantity {
    width: 16px;
    color: #a3a3a3;
    font-size: 12px;
    text-align: center;
}

.item-description {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.item-desc-text {
    flex: 1;
    overflow: hidden;
    color: #141414;
    text-overflow: ellipsis;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.item-pricing {
    padding: 8px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.price-section-left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 2px;
}

.price-label {
    overflow: hidden;
    color: #939395;
    text-overflow: ellipsis;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.price-value-cart {
    color: #141414;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.purchase-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
}

.purchase-label {
    overflow: hidden;
    color: #939395;
    text-align: right;
    text-overflow: ellipsis;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.purchase-value {
    display: flex;
    align-items: center;
    gap: 2px;
}

.purchase-amount {
    color: #db3d42;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.currency-icon {
    width: 16px;
    height: 16px;
}

.modal-overlay {
    display: none; /* Ẩn modal ban đầu */
}

.modal-overlay.show {
    display: flex; /* Hiển thị modal khi có class 'show' */
}
